@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;

    /*Por algum motivo, os botões não receberam a fonte personalizada
    automaticamente, o que me fez ter que declarar novamente aqui.*/
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

 .logo, .nav-links, .cart {
    display: flex;
 }

.logo-text {
    align-self: center;
    font-weight: 400;
    margin: 5px;
    font-size: 18px;
}

.logo {
    flex: 1;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #5f5f79;
    font-size: 18px;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.apresentacao {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introducao {
    flex: 1;

}

.intro-text h1 {
    font-size: 44px;
    font-weight: 400;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /*Queria colocar um gradiente no texto, e a única forma que encontrei foi utilizando esse webkit fill color, o qual
    não é recomendado por não ser padronizada, podendo não funcionar para todos os usuários do site.*/
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #858772;
    margin-bottom: 20px;
}

.clique {
    padding: 50px, 0px, 0px, 0px;
}

.clique-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.clique-add {
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.laptop {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.laptop img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.big {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
}

.select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 50%;
}


@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

    /*Coloquei uma animação simples para deixar o site menos estático.*/
}

@media screen and (max-width: 1024px) {
    .apresentacao {
        flex-direction: column;
    }

    .introducao {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1{
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .clique {
        padding: 10px 0px 0px 0px;
    }

    .logo {
        flex: 0.3;
    }

    .logo-text {
        display: none;
        
    }

    .nav-link {
        font-size: 16px;
    }

    .cart {
        flex: 0.3;
    }

    .select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }

    .laptop img {
        width: 80%;
    }

    .big {
        height: 80%;
        left: 20%;
        opacity: 0.3;
    }

}
